<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new account</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

    <header>
    <nav class="navbar navbar-expand-md bg-white navbar-light  fixed-top">
        <div class="container">
            <a class="navbar-brand fw-italic" href="/index.html">
                <span class="bg-gradient bg-success bi-person-fill-add p-1 rounded-3 text-light">Pay My Buddy</span>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav text-truncate fw-bolder">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="transfer.html">Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link profile" href="profile.html">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<body style="background: #f6f9ff;">
    <div class="col-4">
        <form th:action="@{/bankAccount/save}" method="post" th:objet="${bankAccount}"
              style="max-wigth: 500px; margin: 0 auto;" class="py-5 mt-7 col-10" >
            <div class="row bordered">
                <label >bankAccount</label>
                <div class="col-md-8 bg-white form-group row">
                    <input type="text" th:field="*{bankAccount}" class="form">
                </div>
                <div class="col-md-2">
                    <a class="afin" href=""> <button type="submit" class="btn btn-success">
                        add
                    </button> </a>
                </div>
            </div>
        </form>
    </div>
    <section class="py-5" style="position: font 1em sans-serif;">
        <div class=container>
            <div class="modal" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">add account</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>verify that the account number "new account number is correct"</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">cancel</button>
                            <button type="button" class="btn btn-primary">ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    
</body>
</html>